.general {
  &__logo {
    margin-bottom: 30px;
    margin-left: 20px;
  }

  &__wrap {
    width: 100%;
    
    .hidden {
      display: none;
    }
  }

  &__usergeneral {
    min-height: 100vh;
   margin-left: 250px;
   margin-right: auto;
   background-color: #E5E5E5;
   padding: 50px;
  }

  &__flex-general {
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      object-fit: cover;
      max-width: 100%;
      margin-right: 30px;
    }

    a {
      color: #3048b5;
      font-size: 14px;
      font-weight: 500;
    }

     .arrow-back {
      display: none;
      padding-right: 20px;
      font-size: 20px;
       color: #142367;
    }
  }

  &__title {
    color: #142367;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
  }

  &__subtitle {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
  }

  &__btn {
    height: 50px;
    width: 213px;
    border-radius: 5px;
    background: #3048b5;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    margin-top: 15px;
  }
}


@media screen and (max-width: 768px) {
   .general__usergeneral {
     min-height: 100vh;
     margin-left: 80px;
     margin-right: auto;
     background-color: #E5E5E5;
     padding: 50px;
   }
  
}

@media screen and (max-width: 550px) {
  .general__wrap {
        .side-bar {
          display: none;
        }
   
  }

  .general__usergeneral {
    min-height: 100vh;
    margin-left: 0px;
    margin-right: auto;
    background-color: #E5E5E5;
    padding: 20px;

     .arrow-back {
       display: block;
     }
  }

}

@media screen and (max-width: 350px) {

  .general__usergeneral {
    padding: 0 10px;
  }
  .general__title {
    color: #142367;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
  }

  .general__subtitle {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
  }
}
