.payment {
  &__table-wrap {
    width: 100%;
    overflow-x: auto;
     border: 2px solid #d9dbdd;
     padding: 30px 40px ;
     margin: 50px 0;


     p{
       font-size: 17px;
       font-weight: 700;
       line-height: 20px;
      text-transform: uppercase;
      padding-bottom: 30px;

     }
    .table-hover {
      white-space: nowrap;
      width: 100%;
    
    }

    .table th,
    .table td {
      vertical-align: top;
      border-top: 2px solid #d9dbdd !important;
      padding: 30px 20px;
      font-size: 16px;
    }

    td a {
      color: #3048b5;
    }

    .table tbody tr:hover td,
    .table tbody tr:hover th {
      background-color: #E5E5E5 !important;
    }

     .table-head {
      text-align: left !important;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

